/*      style.css       */

/* possible color palette:
    > #1A8F77
    > #D563DB  (this pink can be changed)
    > #4DDBBE
    > #D9B336
*/

body {
    text-align: center;
}

div {
    background-color: hsl(#1A8F77);
    width: 100%;
    height: 15%;
}