/*      style.css       */

/* possible color palette:
    > #1A8F77
    > #D563DB  (this pink can be changed)
    > #4DDBBE
    > #D9B336
*/

body {
    text-align: center;
    margin: 0;
}

div {
    display: flex;
    background-color: #1A8F77;
    width: 100%;
    height: 15vh;
    color: #D9B336;
    font-size: xx-large;
    align-items: center;
    justify-content: center;

}